version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: coffeedb
    environment:
      POSTGRES_DB: coffeesulwork
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    container_name: coffee-backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/coffeesulwork
      SPRING_DATASOURCE_USERNAME: pguser
      SPRING_DATASOURCE_PASSWORD: pgpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: coffee-frontend
    depends_on:
      - backend
    ports:
      - "4200:80"
    restart: unless-stopped


volumes:
  db-data:
