html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-image: url('assets/img/imagem-cafe.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
  overflow: hidden; 
  font-family: Arial, sans-serif;
}
