/* CONTAINER */
.container-lista {
  width: 960px;
  margin: 0 auto;
  padding: 35px;
  min-height: 100vh;

  background: #70523c;
  border-radius: 14px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  scrollbar-width: none;
}

.container-lista::-webkit-scrollbar {
  display: none;
}

/* TÍTULO */
h1 {
  text-align: center;
  color: #F6EFE7;
  margin-bottom: 25px;
}

/* FILTRO */
.filtro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
  color: #F6EFE7;
}

.filtro label {
  font-weight: bold;
}


.filtro input {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* LISTA */
.lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
ul{
  padding: 0;
}

.lista ul {
  padding: 0;
  margin: 0;
}


/* CARD */
.colaborador {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;

  width: 100%;
  max-width: 700px;
  margin: auto;

  border: 1px solid #ddd;
  transition: 0.2s;
}

.colaborador:hover {
  background: #f7f7f7;
}

/* TÍTULOS */
.colaborador h2 {
  margin: 0 0 10px;
  font-size: 22px;
  text-align: center;
}

/* MODO EDIÇÃO */
.linha-edicao {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.linha-edicao label {
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 15px;
}

/* ITENS */
.itens li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
}

.input-item {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.descricao-item {
  font-size: 15px;
}

/* STATUS */
.ok {
  color: #27ae60;
  font-weight: bold;
}

.nao {
  color: #c0392b;
  font-weight: bold;
}

/* BOTÕES */
.acoes {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: #fff;
}

.editar {
  background: #3498db;
}
.editar:hover {
  background: #2980b9;
}

.remover {
  background: #e74c3c;
}
.remover:hover {
  background: #c0392b;
}

.salvar {
  background: #2ecc71;
}
.salvar:hover {
  background: #27ae60;
}

.cancelar {
  background: #7f8c8d;
}
.cancelar:hover {
  background: #707b7c;
}

/* LOADING */
.loading, .vazio {
  text-align: center;
  color: #F6EFE7;
  font-size: 18px;
}

/* Botão de voltar ao cadastro*/
.btn-voltar {
  background: #C67C48;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;
}

.btn-voltar:hover {
  background: #2c3e50;
}


/* RESPONSIVIDADE */
@media (max-width: 1000px) {
  .container-lista {
    width: 95%;
    padding: 25px;
    list-style: none;
  }
}
